@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	@apply text-sm;
}

.root {
	height: 100%;
}

.mainBody {
	height: 86vh;
}

nav {
	@apply bg-sky-600 text-white flex items-center h-[8vh];
}

.logo {
	@apply flex-1 h-full items-center;
}

.home {
	@apply w-[220px] flex items-center justify-center hover:bg-sky-400 h-full cursor-pointer;
}

.home a {
	@apply text-2xl font-black;
}

.navs {
	@apply flex w-[450px] h-full;
}

.navLinks {
	@apply flex-1 flex justify-center;
}

.navLinks div {
	@apply h-full hover:bg-sky-500 flex items-center px-4;
}

.cart {
	@apply hover:bg-sky-500 flex items-center px-4;
}

.sideNav {
	@apply flex-none h-full w-[220px] bg-slate-100 px-8 py-12 text-black;
}

.category {
	@apply mb-2;
}

.products {
	@apply grow flex flex-col text-center h-full overflow-y-scroll pb-8;
}

.cartItems {
	@apply flex gap-4 h-16 text-sm  border-slate-400 border border-t-0 border-x-0 bg-slate-200;
}

.select {
	@apply w-14 h-full flex items-center justify-center;
}

.product {
	@apply flex-1 flex items-center font-semibold;
}

.unitPrice {
	@apply w-24 h-full flex items-center justify-between px-4 font-semibold;
}

.quantity {
	@apply w-32 h-full flex gap-2 items-center justify-center px-4;
}

.quantity button {
	@apply bg-sky-500 w-full rounded-full hover:bg-sky-300 font-bold text-white;
}

.total {
	@apply w-24 h-full flex items-center justify-between px-4 font-semibold;
}

.remove {
	@apply w-20 h-full flex items-center justify-center px-3;
}

.remove button {
	@apply bg-sky-500 w-full rounded-full hover:bg-sky-300 text-xs;
}
